* {
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 320px) {
  html {
    font-size: 9px; } }

@media only screen and (min-width: 750px) {
  html {
    font-size: 16px; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px; } }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px; } }

.wrap {
  max-width: 1100px;
  margin: 0 auto;
  position: relative; }
  .wrap:after {
    content: " ";
    display: table;
    clear: both; }
  @media only screen and (min-width: 320px) {
    .wrap {
      width: 90%; } }
  @media only screen and (min-width: 750px) {
    .wrap {
      width: 80%; } }
  @media only screen and (min-width: 1024px) {
    .wrap {
      width: 90%; } }
  @media only screen and (min-width: 1200px) {
    .wrap {
      width: 100%; } }

.header__top_bar {
  height: 6.875rem; }
  .header__top_bar:after {
    content: "";
    display: table;
    clear: both; }

.header__logo {
  width: 25%;
  margin: 0 auto;
  float: left;
  position: relative;
  top: 2.5rem;
  text-transform: uppercase; }

.header__nav {
  width: 75%;
  margin: 0 auto;
  float: left; }

nav {
  position: relative;
  top: 2.5rem; }
  nav ul {
    list-style: none; }
    nav ul:after {
      content: " ";
      display: table;
      clear: both; }
    nav ul li {
      width: 16.66667%;
      margin: 0 auto;
      float: left;
      box-sizing: border-box;
      text-align: center;
      margin: 0; }
      nav ul li a {
        text-decoration: none;
        font-family: OpenSans;
        font-size: 0.875em;
        color: #111111;
        text-transform: uppercase;
        height: 1.875rem;
        display: inline-block; }
        nav ul li a:hover {
          text-decoration: none;
          border-bottom: 5px solid #e8bf5d; }

.section_wrap_title {
  background: url(./src/recent-publications/stock-photo-177211577.png) no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: -30px;
  width: 110%;
  height: 100%; }
  .section_wrap_title .wrap {
    width: 80%; }

.section_title {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden; }
  .section_title img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 160%; }
  .section_title:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(2, 3, 0, 0.7), rgba(2, 3, 0, 0.1));
    z-index: 10;
    display: table;
    clear: both; }
  .section_title__text {
    position: absolute;
    bottom: 8.8125rem;
    padding-left: 1rem;
    border-left: 2px solid  #e8bf5d;
    box-sizing: border-box;
    z-index: 12; }
    .section_title__text h1 {
      color: white;
      font-family: PlayfairDisplay; }
      @media only screen and (min-width: 320px) {
        .section_title__text h1 {
          font-size: 2.1875em; } }
      @media only screen and (min-width: 750px) {
        .section_title__text h1 {
          font-size: 2.5em; } }
      @media only screen and (min-width: 1024px) {
        .section_title__text h1 {
          font-size: 3.125em; } }
      @media only screen and (min-width: 1200px) {
        .section_title__text h1 {
          font-size: 4.0625em; } }
    .section_title__text span {
      font-size: 1.9375em;
      font-family: OpenSans;
      color: white; }
  .section_title__button {
    position: absolute;
    box-sizing: border-box;
    right: 0;
    z-index: 30;
    bottom: 10.1875rem; }
    .section_title__button button {
      width: 11.3125rem;
      height: 3.125rem;
      border-radius: 1.5625rem;
      background-color: #e8bf5d;
      border: none;
      color: #111;
      font-family: PlayfairDisplay;
      font-size: 1em;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out;
      transform: scale(1); }
      .section_title__button button:hover {
        transform: scale(1.1); }
      .section_title__button button:focus {
        outline: none; }

.about_us {
  padding-top: 6.1875rem;
  margin-bottom: 6.375rem;
  box-sizing: border-box; }
  @media only screen and (min-width: 320px) {
    .about_us {
      font-size: 15px; } }
  @media only screen and (min-width: 750px) {
    .about_us {
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    .about_us {
      font-size: 16px; } }
  @media only screen and (min-width: 1200px) {
    .about_us {
      font-size: 16px; } }
  .about_us__text {
    margin: 0 -1.25rem; }
    .about_us__text:after {
      content: " ";
      display: table;
      clear: both; }
  .about_us__description {
    border-left: 2px solid #e8bf5d;
    padding-left: 1.25rem;
    margin-bottom: 3.125rem; }
    .about_us__description h2 {
      font-size: 1.875em;
      color: #111111;
      letter-spacing: 1.2px;
      margin-bottom: 1.4375rem; }
    .about_us__description p {
      font-family: PlayfairDisplay;
      color: #666666; }
  .about_us__history {
    padding: 0 1.25rem;
    float: left;
    box-sizing: border-box; }
    @media only screen and (min-width: 320px) {
      .about_us__history {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 750px) {
      .about_us__history {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .about_us__history {
        width: 50%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      .about_us__history {
        width: 50%;
        margin: 0 auto; } }
    .about_us__history div:after {
      content: " ";
      display: table;
      clear: both; }
    .about_us__history h3 {
      font-family: PlayfairDisplay;
      font-size: 1.3125em;
      color: #111111;
      margin-bottom: 2.1875rem; }
    .about_us__history span {
      width: 16.66667%;
      margin: 0 auto;
      display: block;
      font-size: 1.3125em;
      color: #111111;
      font-family: OpenSans;
      font-weight: bold;
      float: left; }
    .about_us__history p {
      width: 83.33333%;
      margin: 0 auto;
      font-family: OpenSans;
      float: right;
      font-size: 1em;
      color: #111111;
      display: block;
      box-sizing: border-box;
      padding-left: 2.3125rem;
      text-align: justify; }
  .about_us__expertise {
    padding: 0 1.25rem;
    float: right;
    box-sizing: border-box; }
    @media only screen and (min-width: 320px) {
      .about_us__expertise {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 750px) {
      .about_us__expertise {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .about_us__expertise {
        width: 50%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      .about_us__expertise {
        width: 50%;
        margin: 0 auto; } }
    .about_us__expertise h3 {
      font-family: PlayfairDisplay;
      font-size: 1.3125em;
      color: #111111;
      margin-bottom: 2.1875rem; }
    .about_us__expertise p {
      font-family: OpenSans;
      font-size: 0.875em;
      color: #666666;
      text-align: justify; }

.practis_area {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-color: #111111;
  color: white; }
  @media only screen and (min-width: 320px) {
    .practis_area {
      font-size: 15px; } }
  @media only screen and (min-width: 750px) {
    .practis_area {
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    .practis_area {
      font-size: 16px; } }
  @media only screen and (min-width: 1200px) {
    .practis_area {
      font-size: 16px; } }
  .practis_area__description {
    margin-bottom: 2.1875rem;
    border-left: 2px solid #e8bf5d;
    padding-left: 1.25rem; }
    .practis_area__description h2 {
      font-size: 1.875em;
      color: #ffffff;
      letter-spacing: 1.2px;
      margin-bottom: 1.4375rem; }
    .practis_area__description p {
      font-family: PlayfairDisplay;
      color: #b9b9b9; }
  .practis_area__items {
    margin: 0 -2rem; }
    .practis_area__items:after {
      content: " ";
      display: table;
      clear: both; }
  .practis_area__img[img="1"] {
    background-image: url(./src/section/item_1.png); }
  .practis_area__img[img="2"] {
    background-image: url(./src/section/item_2.png); }
  .practis_area__img[img="3"] {
    background-image: url(./src/section/item_3.png); }
  .practis_area__img[img="4"] {
    background-image: url(./src/section/item_5.png); }
  .practis_area__item {
    margin-top: 4.25rem;
    float: left;
    box-sizing: border-box;
    padding: 0 2rem; }
    .practis_area__item:after {
      content: " ";
      display: table;
      clear: both; }
    @media only screen and (min-width: 320px) {
      .practis_area__item {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 750px) {
      .practis_area__item {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .practis_area__item {
        width: 50%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      .practis_area__item {
        width: 50%;
        margin: 0 auto; } }
    .practis_area__item > div:first-child {
      background-position: center;
      background-repeat: no-repeat;
      width: 58px;
      height: 58px;
      float: left;
      box-sizing: border-box; }
      @media only screen and (min-width: 320px) {
        .practis_area__item > div:first-child {
          width: 100%;
          margin: 0 auto; } }
      @media only screen and (min-width: 750px) {
        .practis_area__item > div:first-child {
          width: 100%;
          margin: 0 auto; } }
      @media only screen and (min-width: 1024px) {
        .practis_area__item > div:first-child {
          width: 16.66667%;
          margin: 0 auto; } }
      @media only screen and (min-width: 1200px) {
        .practis_area__item > div:first-child {
          width: 16.66667%;
          margin: 0 auto; } }
    .practis_area__item > div:last-child {
      float: left;
      box-sizing: border-box; }
      @media only screen and (min-width: 320px) {
        .practis_area__item > div:last-child {
          padding-left: 0rem;
          width: 100%;
          margin: 0 auto; } }
      @media only screen and (min-width: 750px) {
        .practis_area__item > div:last-child {
          padding-left: 0rem;
          width: 100%;
          margin: 0 auto; } }
      @media only screen and (min-width: 1024px) {
        .practis_area__item > div:last-child {
          padding-left: 2.375rem;
          width: 83.33333%;
          margin: 0 auto; } }
      @media only screen and (min-width: 1200px) {
        .practis_area__item > div:last-child {
          padding-left: 2.375rem;
          width: 83.33333%;
          margin: 0 auto; } }
      .practis_area__item > div:last-child h3 {
        margin-bottom: 2rem;
        font-size: 1.3125em;
        color: #ffffff;
        font-family: PlayfairDisplay; }
      .practis_area__item > div:last-child p {
        font-size: 0.875em;
        font-family: OpenSans;
        line-height: 2;
        text-align: justify; }

.meet_our_attorney {
  padding: 6.25rem 0; }
  @media only screen and (min-width: 320px) {
    .meet_our_attorney {
      font-size: 15px; } }
  @media only screen and (min-width: 750px) {
    .meet_our_attorney {
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    .meet_our_attorney {
      font-size: 16px; } }
  @media only screen and (min-width: 1200px) {
    .meet_our_attorney {
      font-size: 16px; } }
  .meet_our_attorney__description {
    margin-bottom: 3.125rem;
    border-left: 2px solid #e8bf5d;
    padding-left: 1.25rem; }
    .meet_our_attorney__description h2 {
      font-size: 1.875em;
      color: #111111;
      letter-spacing: 1.2px;
      margin-bottom: 1.4375rem; }
    .meet_our_attorney__description p {
      font-family: PlayfairDisplay;
      color: #666666; }
  .meet_our_attorney__items {
    margin: 0 -0.9375rem; }
    .meet_our_attorney__items:after {
      content: " ";
      display: table;
      clear: both; }
  .meet_our_attorney__item {
    float: left;
    box-sizing: border-box;
    padding: 0 0.9375rem; }
    @media only screen and (min-width: 320px) {
      .meet_our_attorney__item {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 750px) {
      .meet_our_attorney__item {
        width: 50%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .meet_our_attorney__item {
        width: 33.33333%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      .meet_our_attorney__item {
        width: 25%;
        margin: 0 auto; } }
    .meet_our_attorney__item img {
      width: 100%; }
    .meet_our_attorney__item h3 {
      color: #111111;
      font-size: 1.3125em;
      line-height: 1.48;
      font-family: PlayfairDisplay; }
    .meet_our_attorney__item p {
      color: #666666;
      font-family: OpenSans;
      letter-spacing: 0.6px; }

.our_clients_say {
  padding: 6.25rem 0; }
  @media only screen and (min-width: 320px) {
    .our_clients_say {
      font-size: 15px; } }
  @media only screen and (min-width: 750px) {
    .our_clients_say {
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    .our_clients_say {
      font-size: 16px; } }
  @media only screen and (min-width: 1200px) {
    .our_clients_say {
      font-size: 16px; } }
  .our_clients_say__description {
    margin-bottom: 3.125rem;
    border-left: 2px solid #e8bf5d;
    padding-left: 1.25rem; }
    .our_clients_say__description h2 {
      font-size: 1.875em;
      color: #111111;
      letter-spacing: 1.2px;
      margin-bottom: 1.4375rem; }
    .our_clients_say__description p {
      font-family: PlayfairDisplay;
      color: #666666; }
  .our_clients_say__tems {
    margin: 0 -0.9375rem; }
    .our_clients_say__tems:after {
      content: " ";
      display: table;
      clear: both; }

.client_say_item {
  float: left;
  box-sizing: border-box;
  padding: 0 0.9375rem;
  margin-top: 0; }
  .client_say_item__cpments {
    border-bottom: 3px solid #e8bf5b;
    padding-bottom: 1.8125rem; }
    .client_say_item__cpments span {
      font-family: OpenSans;
      font-size: 1em; }
    .client_say_item__cpments div {
      box-sizing: border-box;
      display: inline-block;
      width: 48%; }
    .client_say_item__cpments-right {
      text-align: right; }
      .client_say_item__cpments-right span {
        padding-left: 17px;
        background: url(./src/recent-publications/share.png) no-repeat;
        background-position: left; }
    .client_say_item__cpments-left {
      text-align: left; }
      .client_say_item__cpments-left span {
        padding-left: 22px;
        background: url(./src/recent-publications/coments.png) no-repeat;
        background-position: left; }
  .client_say_item > p {
    font-size: 0.875em;
    margin-top: 2.375rem;
    margin-bottom: 2.4375rem;
    color: #666666;
    text-align: justify; }
  @media only screen and (min-width: 320px) {
    .client_say_item {
      width: 100%;
      margin: 0 auto;
      margin-top: 2.5rem; } }
  @media only screen and (min-width: 750px) {
    .client_say_item {
      width: 50%;
      margin: 0 auto;
      margin-top: 2.5rem; } }
  @media only screen and (min-width: 1024px) {
    .client_say_item {
      width: 33.33333%;
      margin: 0 auto; } }
  @media only screen and (min-width: 1200px) {
    .client_say_item {
      width: 33.33333%;
      margin: 0 auto; } }
  .client_say_item img {
    width: 100%; }
  .client_say_item strong {
    color: #111111;
    font-size: 1.3125em;
    font-family: PlayfairDisplay;
    display: block; }
  .client_say_item i {
    color: #666666;
    font-size: 1em;
    font-family: OpenSans; }
  .client_say_item i:last-child {
    text-align: left;
    margin-left: 40%;
    white-space: nowrap; }
  .client_say_item span {
    font-size: 1em; }

.recent_publications {
  padding-top: 6.25rem;
  padding-bottom: 10rem;
  background-color: #111111; }
  @media only screen and (min-width: 320px) {
    .recent_publications {
      font-size: 15px; } }
  @media only screen and (min-width: 750px) {
    .recent_publications {
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    .recent_publications {
      font-size: 16px; } }
  @media only screen and (min-width: 1200px) {
    .recent_publications {
      font-size: 16px; } }
  .recent_publications__description {
    border-left: 2px solid #e8bf5d;
    padding-left: 1.25rem;
    margin-bottom: 4.8125rem; }
    .recent_publications__description h2 {
      font-size: 1.875em;
      color: #ffffff;
      letter-spacing: 1.2px;
      margin-bottom: 1.4375rem; }
    .recent_publications__description p {
      font-family: PlayfairDisplay;
      color: #b9b9b9; }
  .recent_publications__right {
    float: right;
    box-sizing: border-box; }
    @media only screen and (min-width: 320px) {
      .recent_publications__right {
        width: 100%;
        margin: 0 auto;
        padding-left: 0rem; } }
    @media only screen and (min-width: 750px) {
      .recent_publications__right {
        width: 100%;
        margin: 0 auto;
        padding-left: 0rem; } }
    @media only screen and (min-width: 1024px) {
      .recent_publications__right {
        width: 50%;
        margin: 0 auto;
        padding-left: 2.0625rem; } }
    @media only screen and (min-width: 1200px) {
      .recent_publications__right {
        width: 50%;
        margin: 0 auto;
        padding-left: 2.0625rem; } }
    .recent_publications__right p {
      background-color: #e8bf5d;
      box-shadow: 0 12px 40px 0 rgba(216, 178, 87, 0.32);
      padding: 2.875rem;
      text-align: justify;
      color: #111111;
      font-family: OpenSans;
      font-size: 0.875em;
      line-height: 2.21; }
  .recent_publications__left {
    float: left;
    box-sizing: border-box; }
    @media only screen and (min-width: 320px) {
      .recent_publications__left {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 750px) {
      .recent_publications__left {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .recent_publications__left {
        width: 50%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      .recent_publications__left {
        width: 50%;
        margin: 0 auto; } }
    .recent_publications__left:after {
      content: " ";
      display: table;
      clear: both; }
    .recent_publications__left strong {
      color: white;
      font-size: 0.875em;
      text-align: left;
      float: left;
      width: 95%; }
    .recent_publications__left span {
      font-weight: 600;
      color: white;
      text-align: right;
      display: block;
      float: right;
      width: 5%; }
    .recent_publications__left div {
      padding-top: 1.1875rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #e8bf5d;
      width: 100%; }
      .recent_publications__left div:after {
        content: " ";
        display: table;
        clear: both; }
    .recent_publications__left div:first-child {
      border-top: 1px solid #e8bf5d; }

.footer {
  padding-top: 6.25rem; }
  @media only screen and (min-width: 320px) {
    .footer {
      font-size: 15px; } }
  @media only screen and (min-width: 750px) {
    .footer {
      font-size: 16px; } }
  @media only screen and (min-width: 1024px) {
    .footer {
      font-size: 16px; } }
  @media only screen and (min-width: 1200px) {
    .footer {
      font-size: 16px; } }
  .footer:after {
    content: " ";
    display: table;
    clear: both; }
  .footer__map {
    box-sizing: border-box;
    float: right;
    padding-top: 4.375rem;
    padding-bottom: 4.75rem; }
    @media only screen and (min-width: 320px) {
      .footer__map {
        width: 100%;
        margin: 0 auto; } }
    @media only screen and (min-width: 750px) {
      .footer__map {
        width: 50%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1024px) {
      .footer__map {
        width: 50%;
        margin: 0 auto; } }
    @media only screen and (min-width: 1200px) {
      .footer__map {
        width: 50%;
        margin: 0 auto; } }
    .footer__map iframe {
      width: 100%;
      height: 25rem;
      box-shadow: -16px 16px 0px 1px #e8bf5b; }
  .footer__form {
    padding-top: 4.375rem;
    padding-bottom: 4.75rem;
    float: left;
    box-sizing: border-box; }
    @media only screen and (min-width: 320px) {
      .footer__form {
        width: 100%;
        margin: 0 auto;
        padding-left: 0rem;
        padding-right: 0rem; } }
    @media only screen and (min-width: 750px) {
      .footer__form {
        width: 50%;
        margin: 0 auto;
        padding-left: 0rem;
        padding-right: 3.0625rem; } }
    @media only screen and (min-width: 1024px) {
      .footer__form {
        width: 50%;
        margin: 0 auto;
        padding-left: 12.5rem;
        padding-right: 3.0625rem; } }
    @media only screen and (min-width: 1200px) {
      .footer__form {
        width: 50%;
        margin: 0 auto;
        padding-left: 12.5rem;
        padding-right: 3.0625rem; } }
    .footer__form textarea {
      width: 100%;
      height: 7.4375rem;
      padding: 0.625rem;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #333333; }
      .footer__form textarea:focus {
        outline-color: #e8bf5b; }
    .footer__form input {
      border: none;
      width: 100%;
      border-bottom: 1px solid #333333;
      font-size: 0.875em;
      font-family: OpenSans;
      padding-bottom: 0.5625rem;
      padding-top: 2.25rem; }
      .footer__form input:focus {
        outline-color: #e8bf5b; }
    .footer__form input[type="button"] {
      background-color: #e8bf5d;
      width: 10.625rem;
      height: 3.125rem;
      border-radius: 1.5625rem;
      border: none;
      line-height: 3.125rem;
      padding: 0;
      font-size: 1em;
      font-family: PlayfairDisplay; }
  .footer__description {
    border-left: 2px solid #e8bf5d;
    padding-left: 1.25rem; }
    .footer__description h2 {
      font-size: 1.875em;
      color: #111111;
      letter-spacing: 1.2px;
      margin-bottom: 1.4375rem; }
    .footer__description p {
      font-family: PlayfairDisplay;
      color: #666666; }
  .footer__center {
    margin-top: 3.25rem;
    background-color: #111111;
    color: white;
    height: 5.0625rem; }
  .footer__left {
    float: left;
    width: 50%;
    margin: 0 auto;
    line-height: 5.0625rem; }
    .footer__left p {
      display: inline; }
    .footer__left span {
      color: #b5b5b5; }
    .footer__left strong {
      color: #e8bf5d; }
  .footer__right {
    line-height: 5.0625rem;
    text-align: right;
    float: right;
    width: 50%;
    margin: 0 auto; }
    .footer__right a {
      display: inline-block;
      width: 28px;
      height: 15px; }
    .footer__right a[img="f"] {
      background: url("./src/footer/sotset_sprite.png");
      background-position: 0rem 0; }
    .footer__right a[img="t"] {
      background: url("./src/footer/sotset_sprite.png");
      background-position: -23px 0; }
    .footer__right a[img="g"] {
      background: url("./src/footer/sotset_sprite.png");
      background-position: -56px 0; }
    .footer__right a[img="i"] {
      background: url("./src/footer/sotset_sprite.png");
      background-position: -28px 0; }
