<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Шпора
	link(rel="stylesheet", href="style.css")

di
body
	.body_wrap
		header.header
			.wrap
				.header__top_bar
					.header__logo
						h3.
							advocatus
					.header__nav
						// Навигация
						nav
							ul
								li
									a(href="") About us
								li
									a(href="") Practice Area
								li
									a(href="") Lawyers
								li
									a(href="") Publications
								li
									a(href="") FAQ
								li
									a(href="") Contact
						// end - Nav

		section.section_title(id="title")
			section.section_wrap_title
			.wrap
				img(src="src/recent-publications/bacground_fase.png", alt="" class="img")
				.section_title__text
					h1 Adam Suaerez
					span Lawyer
				.section_title__button
					button Contact Me
		section.about_us
			.wrap
				.about_us__description
					h2 Practis Area
					p We are regarded as industry leaders in stunning website solutions, focused <br> on delivering unsurpassed user experiences.
				.about_us__text
					.about_us__history
						h3 History
						div
							span 2016 -
							p In hac habitasse platea dictumst Nunc ultricies iaculis luctus Aliquam eget eros eget sapien dictum.
						div
							span 2015 -
							p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
						div
							span 2014 -
							p In hac habitasse platea dictumst Nunc ultricies iaculis luctus Aliquam eget eros eget sapien.
					.about_us__expertise
						h3 Expertise
						p.
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
							ut labore et dolore magna aliquyam erat, sed diam voluptua.
							et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.

		section.practis_area
			.practis_area_paralax
				img(src="./src/recent-publications/bacground_scroll.jpg", alt="")
			.wrap
				.practis_area__description
					h2 Practis Area
					p We are regarded as industry leaders in stunning website solutions, focused <br>on delivering unsurpassed user experiences.
				.practis_area__items
					.practis_area__item
						div.practis_area__img( img="1")
						div
							h3 Private Client Service
							p.
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.
								et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem 	ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
					.practis_area__item
						div.practis_area__img( img="2")
						div
							h3 LABOUR AND EMPLOYMENT
							p.
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.
								et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem 	ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
					.practis_area__item
						div.practis_area__img( img="3")
						div
							h3 Cyber Sequre
							p.
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.
								et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem 	ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
					.practis_area__item
						div.practis_area__img( img="4")
						div
							h3 Real Estate
							p.
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.
								et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem 	ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
		section.meet_our_attorney
			.wrap
				.meet_our_attorney__description
					h2 Meet Our Attorney
					p We are regarded as industry leaders in stunning website solutions, focused <br>on delivering unsurpassed user experiences.
				.meet_our_attorney__items
					.meet_our_attorney__item
						img(src="./src/meet-our-attorey/img_1.png", alt="img")
						h3 Adam Suarez						
						p Attorney General
					.meet_our_attorney__item
						img(src="./src/meet-our-attorey/img_2.png", alt="img")
						h3 Linister White
						p Attorney General
					.meet_our_attorney__item
						img(src="./src/meet-our-attorey/img_3.png", alt="img")
						h3 Lina Suarez
						p Attorney General
					.meet_our_attorney__item
						img(src="./src/meet-our-attorey/img_4.png", alt="img")
						h3 Jems Snow 
						p Attorney General
		section.our_clients_say
			.wrap
				.our_clients_say__description
					h2 Recent Publications
					p We are regarded as industry leaders in stunning website solutions, focused <br> on delivering unsurpassed user experiences.
				.our_clients_say__items
					.our_clients_say__item
						.client_say_item
							.client_say_item__img
								img(src="./src/recent-publications/stock-photo-140302415.png", alt="img")
							.client_say_item__title
								strong Publication Tite
								i By 
								span Adam Suarez
								i 12 Nov, 2015
							p.
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
								sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
								 ut labore et dolore magna aliquyam erat, sed diam voluptua.
								et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.
							.client_say_item__cpments
								.client_say_item__cpments-left
									span 29 Comments
								.client_say_item__cpments-right
									span Share
						.client_say_item
							.client_say_item__img
								img(src="./src/recent-publications/stock-photo-159856955.png", alt="img")
							.client_say_item__title
								strong Publication Tite
								i By 
								span Adam Suarez
								i 12 Nov, 2015
							p.
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
								sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
								 ut labore et dolore magna aliquyam erat, sed diam voluptua.
								et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.
							.client_say_item__cpments
								.client_say_item__cpments-left
									span 29 Comments
								.client_say_item__cpments-right
									span Share
						.client_say_item
							.client_say_item__img
								img(src="./src/recent-publications/stock-photo-168251239.png", alt="img")
							.client_say_item__title
								strong Publication Tite
								i By 
								span Adam Suarez
								i 12 Nov, 2015
							p.
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
								sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.
								 ut labore et dolore magna aliquyam erat, sed diam voluptua.
								et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.
							.client_say_item__cpments
								.client_say_item__cpments-left
									span 29 Comments
								.client_say_item__cpments-right
									span Share
		section.recent_publications
			.wrap
				.recent_publications__description
					h2 Frequently asked questions
					p We are regarded as industry leaders in stunning website solutions, focused <br>on delivering unsurpassed user experiences.
				.recent_publications__content
					.recent_publications__left
						div
							strong What paperwork do I need to complete to file for divorce?
							span +
						div
							strong How do I change my custody and suport orders?
							span +
						div
							strong How to make a General Diary?
							span +
						div
							strong What paperwork do I need to complete to file for divorce?
							span +
						div
							strong How do I protect a business name?
							span +
						div
							strong Should I incorporate my business?
							span +
					.recent_publications__right
						p.
							Long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
		section.frequently_asked_questions
			.wrap
		section.map
			.wrap
		footer.footer
			.wrap
				.footer__description
					h2.
						Feel Free to Contact
					p.
						We are regarded as industry leaders in stunning website solutions, focused on delivering unsurpassed user experiences.
				.footer__form
					form
						input(type="text" placeholder="Enter your name...")
						input(type="email" placeholder="Enter your email...")
						input(type="number" placeholder="Enter your phone...")
						textarea(type="text" placeholder="Enter your massage...")
						input(type="button" value="Send Message")
				.footer__map
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194.53964226377718!2d35.471431210272236!3d38.726204860652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b11fbb6380d33%3A0x239b5b3418c7f59!2sBirben+Mobilya+San+Tic+Ltd+%C5%9Eti!5e0!3m2!1suk!2sua!4v1519037755019"  frameborder="0" style="border:0" allowfullscreen></iframe>
			.footer__center
				.wrap
					.footer__left
						span company
						strong .
						p enterteiment
					.footer__right
						a(href="#" img="f")
						a(href="#" img="t")
						a(href="#" img="g")
						a(href="#" img="i")
		.form_to_do
			.div
				label(for="") sss
				input(type="text")
				button(chenge="yes") chang
				button(del="yes") del
			.div
				label(for="") sss
				input(type="text")
				button(chenge="yes") chang
				button(del="yes") del
			.div
				label(for="") sss
				input(type="text")
				button(chenge="yes") chang
				button(del="yes") del
			button(class="add_to_note") change

script(src="./src/main.js")
