
=boxW($col,$numbe)
	width: (100% * $numbe)/$col
	margin: 0 auto



	
=clearfix
	&:after
		content: " "
		display: table
		clear: both
$font_1 : PlayfairDisplay
$font_2 : OpenSans
$xs: "(min-width: 320px)"
$sm: "(min-width: 750px)"
$md: "(min-width: 1024px)"
$lg: "(min-width: 1200px)"




@function rem($rem)
  @return ($rem/16)*1rem
@function em($rem)
  @return ($rem/16)*1em
*
	margin: 0
	padding: 0
@mixin m_query($media)
    @media only screen and #{$media}
        @content
html 
	@include m_query($xs)
		font-size: 9px
	@include m_query($sm)
		font-size: 16px
	@include m_query($md)
		font-size: 16px
	@include m_query($lg)
		font-size: 16px
=des()
	border-left: 2px solid #e8bf5d
	padding-left: rem(20)
	h2 
		font-size: em(30)
		color: #111111
		letter-spacing: 1.2px
		margin-bottom: rem(23)
		
	p 
		font-family:  PlayfairDisplay
		color: #666666
=des-b()
	border-left: 2px solid #e8bf5d
	padding-left: rem(20)
	h2 
		font-size: em(30)
		color: #ffffff
		letter-spacing: 1.2px
		margin-bottom: rem(23)
		
	p 
		font-family:  PlayfairDisplay
		color: #b9b9b9


.wrap
	max-width: 1100px
	margin: 0 auto
	+clearfix
	position: relative
	@include m_query($xs)
		width: 90%
	@include m_query($sm)
		width: 80%
	@include m_query($md)
		width: 90%
	@include m_query($lg)
		width: 100%
.header
	&__top_bar
		height: rem(110)
		&:after
			content: ""
			display: table
			clear: both
	&__logo
		+boxW(12,3)
		float: left
		position: relative
		top: rem(40)
		text-transform: uppercase
	&__nav
		+boxW(12,9)		
		float: left
nav
	position: relative
	top: rem(40)
	
	ul

		+clearfix
		list-style: none
		li
			
			
			+boxW(12,2)
			float: left			
			box-sizing: border-box
			text-align: center
			margin: 0
					

			a 
				text-decoration: none
				font-family: OpenSans
				font-size: em(14)
				color: #111111
				text-transform: uppercase
				height: rem(30)
				display: inline-block


				&:hover
					text-decoration: none
					border-bottom: 5px solid #e8bf5d


.section_wrap_title
	background: url(./src/recent-publications/stock-photo-177211577.png) no-repeat
	background-size: cover
	background-position: center
	margin-left: -30px
	width: 110%
	height: 100%
	& .wrap
		width: 80%
.section_title	
	width: 100%
	height: 90vh
	position: relative
	overflow: hidden
	img 
		position: absolute
		bottom: 0
		left: 0
		width: 160%

	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: linear-gradient(to top, rgba(2, 3, 0, 0.70), rgba(2, 3, 0, 0.1))
		z-index: 10	
		display: table
		clear: 	both
	&__text
		position: absolute
		bottom: rem(141)
		padding-left: rem(16)
		border-left: 2px solid  #e8bf5d 
		box-sizing: border-box
		z-index: 12
		h1
			@include m_query($xs)
				font-size: em(35)
			@include m_query($sm)
				font-size: em(40)
			@include m_query($md)
				font-size: em(50)
			@include m_query($lg)
				font-size: em(65)
			color: white
			font-family: PlayfairDisplay
		span
			font-size: em(31)
			font-family: OpenSans
			color: white
	&__button
		position: absolute
		box-sizing: border-box
		right: 0
		z-index: 30
		bottom: rem(163)
		button
			width: rem(181)
			height: rem(50)
			border-radius: rem(25)
			background-color: #e8bf5d
			border: none
			color: #111
			font-family: PlayfairDisplay
			font-size: em(16)
			text-transform: uppercase
			transition: all 0.5s ease-in-out
			transform: scale(1) 
			&:hover
				transform: scale(1.1) 

			
			&:focus
				outline: none


.about_us
	@include m_query($xs)
		font-size: 15px
	@include m_query($sm)
		font-size: 16px
	@include m_query($md)
		font-size: 16px
	@include m_query($lg)
		font-size: 16px
	padding-top: rem(99)
	margin-bottom: rem(102)
	box-sizing: border-box
	&__text
		+clearfix
		margin: 0  rem(-20)
	&__description
		+des
		margin-bottom: rem(50)
	&__history
		
		@include m_query($xs)
			+boxW(12,12)
		@include m_query($sm)
			+boxW(12,12)
		@include m_query($md)
			+boxW(12,6)
		@include m_query($lg)
			+boxW(12,6)

		padding: 0 rem(20)
		float: left
		box-sizing: border-box
		div
			+clearfix
		h3
			font-family: $font_1
			font-size: em(21)
			color: #111111
			margin-bottom: rem(35)
		span
			+boxW(12,2)

			display: block
			font-size: em(21)
			color: #111111
			font-family: $font_2
			font-weight: bold
			float: left
		p
			+boxW(12,10)
			font-family: $font_2
			float: right
			font-size: em(16)
			color: #111111
			display: block
			box-sizing: border-box
			padding-left: rem(37)
			text-align: justify
	&__expertise

		@include m_query($xs)
			+boxW(12,12)
		@include m_query($sm)
			+boxW(12,12)
		@include m_query($md)
			+boxW(12,6)
		@include m_query($lg)
			+boxW(12,6)

		padding: 0 rem(20)
		float: right
		box-sizing: border-box
		h3
			font-family: $font_1
			font-size: em(21)
			color: #111111
			margin-bottom: rem(35)
		p
			font-family: $font_2
			font-size: em(14)
			color: #666666
			text-align: justify
.practis_area
	@include m_query($xs)
		font-size: 15px
	@include m_query($sm)
		font-size: 16px
	@include m_query($md)
		font-size: 16px
	@include m_query($lg)
		font-size: 16px
	padding-top: rem(100)
	padding-bottom: rem(100)
	background-color: #111111
	color: white
	&__description
		margin-bottom: rem(103-68)
		+des-b
	&__items
		+clearfix
		margin: 0 rem(-32)
	&__img[img="1"]
		background-image: url(./src/section/item_1.png)
	&__img[img="2"]
		background-image: url(./src/section/item_2.png)
	&__img[img="3"]
		background-image: url(./src/section/item_3.png)
	&__img[img="4"]
		background-image: url(./src/section/item_5.png)

	&__item
		margin-top: rem(68)
		float: left
		+clearfix
		@include m_query($xs)
			+boxW(12,12)
		@include m_query($sm)
			+boxW(12,12)
		@include m_query($md)
			+boxW(12,6)
		@include m_query($lg)
			+boxW(12,6)
		box-sizing: border-box
		padding: 0 rem(32)
		&> div:first-child
			background-position: center
			background-repeat: no-repeat
			@include m_query($xs)
				+boxW(12,12)
			@include m_query($sm)
				+boxW(12,12)
			@include m_query($md)
				+boxW(12,2)
			@include m_query($lg)
				+boxW(12,2)
			width: 58px
			height: 58px
			float: left
			box-sizing: border-box
		&>div:last-child
			
			@include m_query($xs)
				padding-left: rem(0)
				+boxW(12,12)
			@include m_query($sm)
				padding-left: rem(0)
				+boxW(12,12)
			@include m_query($md)
				padding-left: rem(38)
				+boxW(12,10)
			@include m_query($lg)
				padding-left: rem(38)
				+boxW(12,10)

			float: left
			box-sizing: border-box
			h3
				margin-bottom: rem(32)
				font-size: em(21)
				color: #ffffff
				font-family: $font_1

			p
				font-size: em(14)
				font-family: $font_2
				line-height: 2
				text-align: justify



.meet_our_attorney
	@include m_query($xs)
		font-size: 15px
	@include m_query($sm)
		font-size: 16px
	@include m_query($md)
		font-size: 16px
	@include m_query($lg)
		font-size: 16px
	padding: rem(100) 0
	&__description
		margin-bottom: rem(50)
		+des
	&__items
		+clearfix
		margin: 0 rem(-15)
	&__item
		float: left
		box-sizing: border-box
		padding: 0 rem(15)
		@include m_query($xs)
			+boxW(12,12)
		@include m_query($sm)
			+boxW(12,6)
		@include m_query($md)
			+boxW(12,4)
		@include m_query($lg)
			+boxW(12,3)
		img
			width: 100%
		h3
			color: #111111
			font-size: em(21)
			line-height: 1.48
			font-family: $font_1
		p
			color: #666666
			font-family: $font_2
			letter-spacing: 0.6px


.our_clients_say
	@include m_query($xs)
		font-size: 15px
	@include m_query($sm)
		font-size: 16px
	@include m_query($md)
		font-size: 16px
	@include m_query($lg)
		font-size: 16px
	padding: rem(100) 0
	&__description
		margin-bottom: rem(50)
		+des
	&__tems
		+clearfix
		margin: 0 rem(-15)
.client_say_item

	&__cpments
		border-bottom: 3px solid #e8bf5b
		padding-bottom: rem(29)
		span 
			color#111111
			font-family: $font_2
			font-size: em(16)
		div
			box-sizing: border-box
			display: inline-block
			width: 48%
			
		&-right
			text-align: right
			span
				padding-left: 17px
				background: url(./src/recent-publications/share.png) no-repeat
				background-position: left
		&-left
			text-align: left
			span
				padding-left: 22px
				background: url(./src/recent-publications/coments.png) no-repeat
				background-position: left


	&>p 
		font-size: em(14)
		margin-top: rem(38)
		margin-bottom: rem(39)
		color: #666666
		text-align: justify
	float: left
	box-sizing: border-box
	padding: 0 rem(15)
	margin-top: 0
	@include m_query($xs)
		+boxW(12,12)
		margin-top: rem(40)

	@include m_query($sm)
		+boxW(12,6)
		margin-top: rem(40)

	@include m_query($md)
		+boxW(12,4)
	@include m_query($lg)
		+boxW(12,4)
	img 
		width: 100%
	strong
		color: #111111
		font-size: em(21)
		font-family: $font_1
		display: block
	i
		color: #666666
		font-size: em(16)
		font-family: $font_2
	i:last-child
		text-align: left
		margin-left: 40%
		white-space: nowrap
	span 
		font-size: em(16)





.recent_publications
	@include m_query($xs)
		font-size: 15px
	@include m_query($sm)
		font-size: 16px
	@include m_query($md)
		font-size: 16px
	@include m_query($lg)
		font-size: 16px
	padding-top: rem(100)
	padding-bottom: rem(160)
	background-color: #111111
	&__description
		+des-b
		margin-bottom: rem(77)
	&__right
		@include m_query($xs)
			+boxW(12,12)
			padding-left: rem(0)
		@include m_query($sm)
			+boxW(12,12)
			padding-left: rem(0)
		@include m_query($md)
			+boxW(12,6)
			padding-left: rem(33)
		@include m_query($lg)
			+boxW(12,6)
			padding-left: rem(33)
		float: right
		box-sizing: border-box
		
		p
			background-color: #e8bf5d
			box-shadow: 0 12px 40px 0 rgba(216, 178, 87, 0.32)
			padding: rem(46)
			text-align: justify
			color: #111111
			font-family: $font_2
			font-size: em(14)
			line-height: 2.21
	&__left
		@include m_query($xs)
			+boxW(12,12)
		@include m_query($sm)
			+boxW(12,12)
		@include m_query($md)
			+boxW(12,6)
		@include m_query($lg)
			+boxW(12,6)	
		float: left
		box-sizing: border-box	
		+clearfix
		strong
			color: white
			font-size: em(14)
			text-align: left
			float: left
			width: 95%
		span
			font-weight: 600
			color: white
			text-align: right
			display: block
			float: right
			width: 5%
		div
			padding-top: rem(19)
			padding-bottom: rem(16)
			border-bottom: 1px solid #e8bf5d
			+clearfix
			width: 100%
		div:first-child
			border-top: 1px solid #e8bf5d
.footer
	@include m_query($xs)
		font-size: 15px
	@include m_query($sm)
		font-size: 16px
	@include m_query($md)
		font-size: 16px
	@include m_query($lg)
		font-size: 16px
	padding-top: rem(100)	
	+clearfix
	&__map
		@include m_query($xs)
			+boxW(12,12)
		@include m_query($sm)
			+boxW(12,6)
		@include m_query($md)
			+boxW(12,6)
		@include m_query($lg)
			+boxW(12,6)
		box-sizing: border-box
		float: right
		padding-top: rem(70)
		padding-bottom: rem(76)
		iframe
			width: 100%
			height: rem(400)
			box-shadow: -16px 16px 0px 1px #e8bf5b
	&__form
		padding-top: rem(70)
		padding-bottom: rem(76)
		float: left
		@include m_query($xs)
			+boxW(12,12)
			padding-left: rem(0)
			padding-right: rem(0) 
		@include m_query($sm)
			+boxW(12,6)
			padding-left: rem(0)
			padding-right: rem(49) 
		@include m_query($md)
			+boxW(12,6)
			padding-left: rem(200)
			padding-right: rem(49) 
		@include m_query($lg)
			+boxW(12,6)
			padding-left: rem(200)
			padding-right: rem(49) 
		box-sizing: border-box
		
		textarea
			width: 100%
			height: rem(119)
			padding: rem(10)
			box-sizing: border-box
			border: none
			border-bottom: 1px solid #333333
			&:focus
				outline-color: #e8bf5b
		input
			&:focus
				outline-color: #e8bf5b
			border: none
			width: 100%
			border-bottom: 1px solid #333333
			font-size: em(14)
			font-family: $font_2
			padding-bottom: rem(9)
			padding-top: rem(36)
		input[type="button"]
			background-color: #e8bf5d
			width: rem(170)
			height: rem(50)
			border-radius: rem(25)
			border: none
			line-height: rem(50)
			padding: 0
			font-size: em(16)
			font-family: $font_1

	&__description
		+des
	&__center
		margin-top: rem(128-76)
		background-color: #111111
		color: white
		height: rem(81)
	&__left
		float: left
		+boxW(12,6)
		line-height: rem(81)
		p 
			display: inline
		span
			color: #b5b5b5
		strong
			color: #e8bf5d
	&__right
		line-height: rem(81)
		text-align: right
		float: right
		+boxW(12,6)
		a 
			display: inline-block
			width: 28px
			height: 15px
		a[img="f"]
			background: url("./src/footer/sotset_sprite.png")			
			background-position: rem(0) 0
		a[img="t"]
			background: url("./src/footer/sotset_sprite.png")			
			background-position: -23px 0
		a[img="g"]
			background: url("./src/footer/sotset_sprite.png")			
			background-position: -56px 0
		a[img="i"]
			background: url("./src/footer/sotset_sprite.png")
			background-position: -28px 0
	